.container ul li{
    padding-left: 40px;
}
.freequent-ask{
    text-align: center;
    display: inline;
    width: 50%;
}
.discover{
    text-align: center;
    
}
#courses{
    text-align: center;
}
footer{
    background-color: #161616;
    width: 100%;
}
.footer{
    text-align: center;
    color: white;
    
}
.footer ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}